@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';
@import './pages/signup';


html{
    height: 100%;
    @apply text-white
}

body{
    height: 100%;
}

#root{
    height: 100%;
}