.main-signup-container{
    background: url('../../images/signup.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.right-pane{
   @apply bg-white;
}

.btn{
    background-color: $primary-color-two;
}

.box{
    width: 35vw;
}